:root
{
--nav-size-initial: 80px;
--inset: env(safe-area-inset-left, 0px);
--nav-size: calc(var(--nav-size-initial) + var(--inset));

--icon-size: 48px;

--nav-padding: 12px;

--md-sys-state-hover-state-layer-opacity: 0.08;
--md-sys-state-focus-state-layer-opacity: 0.24;
--md-sys-state-press-state-layer-opacity: 0.24;

--default-team1-color: 255, 0, 0;
--default-team2-color: 0, 0, 255;
}

.material-icons-conditional
{
font-family: 'Material Icons Outlined';
font-weight: normal;
font-style: normal;
font-size: 24px;
line-height: 1;
letter-spacing: normal;
text-transform: none;
display: inline-block;
white-space: nowrap;
word-wrap: normal;
direction: ltr;
-webkit-font-feature-settings: 'liga';
-webkit-font-smoothing: antialiased;
}

body
{
display:flex;
flex-flow: row nowrap;
}

nav
{
background-color: var(--md-sys-color-surface);
color: var(--md-sys-color-on-surface);

border-right: var(--md-sys-color-outline) solid 1px;

display: flex;
flex-flow: column nowrap;
flex-shrink: 0;
align-items: center;
gap: 12px;

width: var(--nav-size);
height: 100%;

padding: var(--nav-padding) 0;
box-sizing: border-box;
}

nav img
{
width: auto;
height: var(--icon-size);
}

.title-container
{
flex-grow: 1;
}

nav .button
{
position: relative;

display: flex;
flex-flow: column nowrap;
align-items: center;
gap: 4px;

width: 100%;
height: 56px;
border-width: 0;

color: inherit;

overflow: hidden;

text-decoration: none;
}

nav .button.icon > .material-icons-conditional
{
width: 56px;
height: 32px;
line-height: 32px;

text-align: center;
font-size: 24px;

border-radius: 16px;
}

nav .button.icon.active > .material-icons-conditional
{
position: relative;

background-color: var(--md-sys-color-secondary-container);
color: var(--md-sys-color-on-secondary-container);

font-family: 'Material Icons';
-webkit-font-feature-settings: initial;
-webkit-font-smoothing: initial;
}

nav .button.icon:not(.active) > .material-icons-conditional[data-badge-count]:after
{
position: absolute;

font-family: 'Roboto Medium';
font-size: 11px;
font-weight: 500;
line-height: 16px;
text-align: center;

min-width: 16px;
height: 16px;

content: attr(data-badge-count);

transform: translate(-50%);

background-color: var(--md-sys-color-error);
color: var(--md-sys-color-on-error);

border-radius: 100%;
}

nav .button.icon > .ripple
{
position: absolute;
top: 0;
left: 0;

width: 100%;
height: 100%;

pointer-events: none;

background-color: var(--md-sys-color-on-surface);

opacity: 0;
}

nav .button.icon:hover > .ripple
{
opacity: var(--md-sys-state-hover-state-layer-opacity);
}

nav .button.icon:focus > .ripple
{
opacity: var(--md-sys-state-focus-state-layer-opacity);
}

nav .button.icon:active > .ripple
{
opacity: var(--md-sys-state-press-state-layer-opacity);
}

main
{
flex-grow: 1;

overflow-y: auto;
}

section
{
display: none;

padding: 12px;
}

section.active
{
display: block;
}

section#section-all
{
padding: 0;
}

canvas
{
display: block;
}

#canvas-map
{
width: 100%;
height: 100%;
border-radius: 8px 0 0 8px;
}

.table-wrapper
{
border: 1px solid var(--md-sys-color-surface-variant);
border-radius: 24px;

overflow-x: auto;
}

table
{
width: 100%;

table-layout: fixed;

border-collapse: collapse;
border-spacing: 0;
}

thead
{
vertical-align: baseline;
}

thead:first-child tr:first-child th,
tbody:first-child tr:first-child td
{
border-top: 0;
}

td:first-child,
th:first-child
{
border-left: 0;
}

td,
th
{
padding: 16px 24px;
border-top: 1px solid var(--md-sys-color-surface-variant);
border-left: 1px solid var(--md-sys-color-surface-variant);
vertical-align: middle;
}

.no-padding
{
padding: 0;
}

th
{
background-color: var(--md-sys-color-surface);
color: var(--md-sys-color-on-surface-variant);
}

.cell-container
{
display: flex;
justify-content: space-between;
flex-flow: row nowrap;
}

th.team1
{
background-color: rgba(var(--team1-color, var(--default-team1-color)), 0.1);
}

th.team2
{
background-color: rgba(var(--team2-color, var(--default-team2-color)), 0.1);
}

span.name
{
text-align: left;
flex-grow: 1;
overflow-wrap: anywhere;
}

.cell-container.opposite,
table.opposite .cell-container
{
flex-flow: row-reverse nowrap;
text-align: right;
}

.opposite span.name
{
text-align: right;
}

/****/

@media (orientation: portrait)
{
:root
{
--inset: env(safe-area-inset-bottom, 0px);
}

body
{
flex-flow: column-reverse;
}

nav
{
flex-flow: row nowrap;
gap: 0;

width: 100%;
height: var(--nav-size);

padding: 0;

border-right: none;
border-top: var(--md-sys-color-outline) solid 1px;

box-sizing: initial;
}

#nav-logo
{
display: none;
}

nav .button
{
flex-grow: 1;

padding-top: 12px;
padding-bottom: 16px;

font-size: 16px;
line-height: 16px;

height: auto;
}

nav .button.icon > .material-icons-conditional
{
width: 64px;
height: 32px;

font-size: 24px;
}
}
